

html{
    font-size: 70%;
    overflow-x:hidden;

}
.button{
    display: block;
    width: 100%;
    cursor:pointer;
    border-radius:.5rem;
    margin-top: 1rem;
    font-size:1.7rem;
    padding:1rem 3rem;
    background:forestgreen;
    color:antiquewhite;
}
.button:hover{
    background-color:darkred;
}
.container{
    max-width: 1200px;
    padding:2rem;
    margin:0 auto;
   
}
.admin-form-container form{
    max-width: 150rem;
    margin:0 auto;
    padding: 4rem;
    border-radius: .5rem;
    background-color:dimgrey;
}
.admin-form-container form h3{
    text-transform:uppercase;
    color:black;
    margin-bottom: 1rem;
    text-align:left;
    font-size: 2.5rem;
}
.admin-form-container form .box{
    width: 70%;
    border-radius: .5rem;
    padding:1.2rem 1.5rem;
    font-size:1.7rem;
    margin:1rem 0;
    text-transform:none;

}

.movie-display {
    margin: 2rem 0;
}

    .movie-display .movie-display-table {
        width: 100%;
        text-align: center;
        /*border-collapse: collapse;*/ 
    }


        .movie-display .movie-display-table thead {
            padding: 1rem;
            font-size: 2rem;
            background: var(--bg-color);
        }


        .movie-display .movie-display-table th {
            padding: 1rem;
            font-size: 2rem;
        }


        .movie-display .movie-display-table td {
            padding: 1rem;
            font-size: 2rem;
            border-bottom: var(--border);
        }


            .movie-display .movie-display-table td .btn:first-child {
                margin-top: 0;
            }


            .movie-display .movie-display-table td .btn:last-child {
                background: crimson;
            }

                .movie-display .movie-display-table td .btn:last-child:hover {
                    background: var(--black);
                }








@media(max-width:991px){
    html{
        font-size:55%;
    }
}
@media(max-width:450px) {
    html {
        font-size: 50%;
    }
}

nav ul {
    list-style-type: none;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin-left: 20px; /* Add margin to separate items */
    }

        nav ul li:first-child {
            margin-left: 0; /* Remove margin from the first item */
        }

        nav ul li a {
            text-decoration: none;
            color: #050202;
            font-weight: bold;
            font-size: 18px;
        }
















